{% extends 'base.html' %}

{% load markdown %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static "vendor/highlight/styles/default.css" %}">
{% endblock %}

{% block content %}
  <section id="roll">
    {% for post in object_list %}
      <article class="post" id="post-{{ post.id }}">
        <header class="title" id="post-{{ post.id }}-title">
          <h1>{{ post.title }}</h1>
          <small>{{ post.timestamp }}</small>
        </header>
        <section class="body" id="post-{{ post.id }}-body">
          {{ post.body|md_as_html5 }}
        </section>
      </article>
    {% endfor %}
  </section>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'vendor/highlight/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
